body {
  font-family: 'Courier New', Courier, monospace, !important;
  text-align: center;
  padding: 120px 0;
  background: rgb(182, 228, 255);
}
.list {
  margin-top: 20px;
  margin-bottom: 20px;
  background: coral;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  border: none;
  background: rgb(20, 220, 73);
  padding: 10px;
  color: rgb(39, 35, 35);
  font-size: 18px;
  margin-right: 10px;
  border-radius: 8px;
}

.remove {
  border: none;
  background: crimson;
  padding: 10px;
  color: rgb(209, 209, 209);
  font-size: 18px;
  border-radius: 8px;
}

h2 {
  font-size: 30px;
}

.btn {
  font-size: 16px;
  background: rgb(53, 20, 220);
  color: #fff;
  border: none;
  width: 200px;
  padding: 10px 0;
  border-radius: 5px;
}

ul {
  
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  padding: 10px 50px;
  margin-top: 50px;
  background: #fff;
  list-style: none;
  width: 32%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li img {
  width: 60px;
  border-radius: 50%;
}

li a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
}

form {
  width: 400px;
  margin: 0 auto;
}

.form-group {
  width: 100%;
  margin-top: 30px;
}

.form-group input {
  width: 100%;
  padding: 7px;
}

@media screen and (max-width: 576px) {
  form {
    width: 100%;
  }
}

.users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0cece;
  padding: 0 20px;
  margin-top: 40px;

}

.modal {
  box-shadow: 0 0 10px rgba(0,0, 0, .2);
  position: absolute;
  top: 50px;
  padding: 30px;
  background: #fff;
  right: 50%;
  transform: translateX(50%);
}