body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 120px 0;
}
.list {
  margin-bottom: 20px;
  background: #eda870;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  border: none;
  background: rgb(20, 220, 73);
  padding: 10px;
  color: rgb(39, 35, 35);
  font-size: 18px;
  margin-right: 10px;
  border-radius: 8px;
}

.remove {
  border: none;
  background: crimson;
  padding: 10px;
  color: rgb(209, 209, 209);
  font-size: 18px;
  border-radius: 8px;
}

h2 {
  font-size: 30px;
}

.btn {
  font-size: 16px;
  background: rgb(53, 20, 220);
  color: #fff;
  border: none;
  width: 200px;
  padding: 10px 0;
}