
body {
  font-family: 'Courier New', Courier, monospace, !important;
  text-align: center;
  /*padding: 120px 0;*/
  background: rgb(182, 228, 255);
}
*{
  text-decoration: none;
}
.list {
  margin-top: 20px;
  margin-bottom: 20px;
  background: coral;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-product{
  width: 100%;
}

.single-product img{
  width: 100%;
}

.select {
  border: none;
  background: rgb(20, 220, 73);
  padding: 10px;
  color: rgb(39, 35, 35);
  font-size: 18px;
  margin-right: 10px;
  border-radius: 8px;
}

.remove {
  border: none;
  background: crimson;
  padding: 10px;
  color: rgb(209, 209, 209);
  font-size: 18px;
  border-radius: 8px;
}

h2 {
  font-size: 30px;
}

.btn {
  font-size: 16px;
  background: rgb(53, 20, 220);
  color: #fff;
  border: none;
  width: 200px;
  padding: 10px 0;
  border-radius: 5px;
  border: 2px #222;
}

.link {
  border-bottom: 2px solid crimson;
}

.active {
  color: rgb(231,117,11)
} 

.product {
  background: #fff;
  width: 32%;
  margin-top: 10px;
}
.product img{
  width: 100%;
}
.product .product-link{
  font-size: 12px;
  background: rgb(17,148,60);
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 50px;
}

a {
  font-size: larger;
  color: #222;
}


ul {
  
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  padding: 10px 50px;
  margin-top: 50px;
  background: #fff;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
}

li img {
  width: 100px;
  border-radius: 60%;
}

/* li a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
} */

form {
  width: 400px;
  margin: 0 auto;
}

.form-group {
  width: 100%;
  margin-top: 30px;
}

.form-group input {
  width: 100%;
  padding: 7px;
}

@media screen and (max-width: 576px) {
  form {
    width: 100%;
  }
}

.users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0cece;
  padding: 0 20px;
  margin-top: 40px;

}

.modal {
  box-shadow: 0 0 10px rgba(0,0, 0, .2);
  position: absolute;
  top: 50px;
  padding: 30px;
  background: #fff;
  right: 50%;
  transform: translateX(50%);
}

.memo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}